.checkout__container *{
    
        color: rgba(00, 00, 00, 0.8);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}
.paragraph{
    text-align: left;
    font-size: 0.9rem;
}
/* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
   */
  :root{
    --container__size-lg : 55%;
    --container__size-md : 90%;
    --container__size-sm : 95%;
  
    --box__shadow : 0px 0px 3px 2px rgb(151, 148, 148);
  
    --primary__color : #5392f9;
    --hover__color : #6e9ce6;
  }
  
  .header3{
    margin: 1rem 0rem;
  } 
  .container_checkout{
    box-shadow: var(--box__shadow);
    padding: 1rem 1rem;
    /* box-shadow: 0px 0px 3px 2px rgb(151, 148, 148); */
    /* border: 2px solid red; */
} 

.checkout__container{
    /* border: 1px solid red; */
    width: var(--container__size-lg);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
}

.checkout__container-left, .checkout__container-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 

.button_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button_container > p{
    align-self: flex-start;
    font-size: 0.85rem;
}

.button_container > p > a{
    text-decoration: none;
    color: var(--primary__color);
}

.button_container > p > a:hover{
    text-decoration: underline;
}

.button_container > button, .button_container > span{
    align-self: flex-end;
}

 .button_checkout{
    padding: 0.9rem 3.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: var(--primary__color);
    border: none;
    border-radius: 0.25rem;
} 
 
.button_checkout:hover{
    background: var(--hover__color);
}

.button_checkout:active{
    background: var(--primary__color);
} 

.button_container > span{
    color: green;
    background-color: rgb(231, 251, 231);
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 0.4rem 0rem 0.9rem;
}
