 .main_vacation_div{
     /* border: 2px solid red; */
     width: 80%;
     margin-top: 90px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .all_image_div{
     /* border: 2px solid blue; */
     row-gap: 10px;
     display: flex;
     justify-content: space-between;
     width: 100%;
     flex-wrap: wrap;
     margin-top: 30px;
     
 }
 
 .card{
     height: 250px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
  
 }
 .card:hover{
     transition: 0.3s ease-in-out;
     transform: scale(1.02);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 .card>p,th{
     display: flex;
     flex-direction: column;
     justify-content: left;
     text-align: left;
     padding-left: 3%;
     /* color: blue; */
 }