.main_slider_div{
    margin-top: 60px;
    height: 200px;
    width: 70%;
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
}
.slider_image{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.slider_image img{
    height: 190px;
    width: 48%;
   
   
   
    border-radius: 10px;

}
.slider_button{
padding: 0% 2% 0% 2%;
    /* border: 2px solid red; */
    margin-top: -110px;
    display: flex;
    justify-content: space-between;
    font-size: 2.5vw;
    color: white;
    
    
}
.left:hover{
    cursor: pointer;
    color: aqua;
    transition: 0.2s ease-in;
}
.right:hover{
    cursor: pointer;
    color:aqua;
    transition: 0.2s ease-in;
}